<!DOCTYPE html>
<html lang="en">

    {% if page.color %}{% assign color = page.color %}{% else %}{% assign color = "white" %}{% endif %}

<head>
    <title>{% if page.title %}{{page.title}}{% else %}{{color}}{% endif %}</title>
    <meta id="tile-color" name="msapplication-TileColor" content="{{color}}">
    <meta id="theme-color" name="theme-color" content="{{color}}">
    <link id="favicon" rel="icon" type="image/png">
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: {{color}};
            touch-action: manipulation;
            user-select: none;
            height: 100vh;
            width: 100vw;
        }

        .text {
            margin: auto;
            width: 80vw;
            font-size: 2rem;
        }
    </style>
</head>

<body>
    <script src="/main.js"></script>

    {% if page.color %} 
    <script>
        colorize("{{ page.color }}")
    </script>
    {% endif %}

    {{content}}


</body>

</html>