---
layout: color
---

var hex


var path = window.location.pathname.substring(1);
var hash = window.location.hash

if (path) {
    if (hash) {
        window.location.href = "/"
    }
}


if (hash) {
    hex = hash
}
if (path){
    hex = "#" + path
}


const ishexcolor = RegExp("^#[0-9A-F]{6}$","i");
if (ishexcolor.test(hex)) {
    color=hex
    document.getElementById("tile-color").content=color
    document.getElementById("theme-color").content=color
    document.title=color
    document.body.style.backgroundColor=color
} else {
    if (path) {
        window.location.href = "/"
    }
    if (hash) {
        window.location.href = "/"
    }
}